.tracksWrapper {
    display: grid;
    grid-template-columns: repeat(3, fit-content(100%));
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;

    max-width: 800px;
    padding: 20px;
    margin: 0 auto;
}
