.wrapper {
    position: relative;
    width: 200px;
    height: 200px;

    &:hover {
        cursor: pointer;

        .playButton,
        .title,
        .progressBar,
        .time {
            opacity: 1;
        }

        .title {
            color: $l1;
        }

        .mask {
            background-color: $d2t;
        }
    }
}

.cover {
}

.controls {
    top: 0;
    left: 0;
}

.playButton {
    height: 60px;
    width: 60px;
    position: absolute;
    top: 50%;
    left: 50%;

    opacity: 0;
    z-index: 2;

    stroke: $m1;

    transform: translate(-50%, -50%);
}

.progressBar {
    position: absolute;
    bottom: 0;
    height: 8px;
    width: 0;
    margin: 0 auto;

    opacity: 0;
    border-radius: 10px;
    background-color: $m1;

    z-index: 3;
}

.cover {
    height: 100%;
    width: 100%;
}

.title {
    position: absolute;
    padding: 8px;
    margin: 0;

    font-size: 22px;

    opacity: 0;
}

.time {
    position: absolute;
    font-size: 18px;
    margin: 14px 8px;
    bottom: 0;
    opacity: 0;
}

.mask {
    position: absolute;
    width: 100%;
    height: 100%;
}

.isPlaying {
    opacity: 1;
}
