::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: $m1;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: $m2;
}

::-webkit-scrollbar-thumb:active {
    background: $m2;
}

::-webkit-scrollbar-track {
    background: $d1;
    border-radius: 32px;
}

::-webkit-scrollbar-corner {
    background: transparent;
}
