$d1: #0c0c0c;
$d1a: #2b2727;
$d1t: #0c0c0ce0;
$d2: #141414;
$d2t: #141414ce;
$d3: #1d1d1d;
$d3a: #363636;

$m1: #df2d2d;
$m1a: #e72b2b;
$m2: #990b0b;
$m3: #5f0000;

$l1: #f3eaea;
$l1a: #ebcece;
$l2: #cfc3c3;
$l3: #a89e9e;
